.footer {
    background-color:  #efbab0;
    padding: 50px 20px 20px;
    color: #333;
    margin-top: 40px;
    border-top: 1px solid #e0e0e0;
    font-family: Arial, sans-serif;
}

.footer-content {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-logo {
    grid-column: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-info {
    grid-column: 2;
    padding: 0 10px;
}

.footer-navigation {
    grid-column: 3;
    padding: 0 10px;
}

.footer-hours {
    grid-column: 4;
    padding: 0 10px;
}

.footer-social {
    grid-column: 5;
    padding: 0 10px;
}

.footer-info h3, .footer-navigation h3, .footer-hours h3, .footer-social h3 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 15px;
    color: #444;
}

.footer-address p, .footer-hours p {
    margin: 5px 0;
    font-size: 0.95rem;
    color: #555;
    line-height: 1.4;
}

.footer-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-links a {
    color: #555;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: #000;
    text-decoration: underline;
}

.footer-copyright {
    margin-top: 40px;
    padding-top: 20px;
    font-size: 0.9rem;
    color: #777;
    text-align: center;
    border-top: 1px solid #e0e0e0;
}

.footer-logo-img {
    width: 150px;
    height: auto;
    object-fit: contain;
}

.footer-social a {
    color: #555;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;    
}

.footer-social a:hover {
    color: #000;
    text-decoration: underline;
}



@media (max-width: 768px) {
    .footer-content {
        grid-template-columns: 1fr;
    }
    
    .footer-logo, .footer-info, .footer-navigation, .footer-hours, .footer-social {
        grid-column: 1;
    }
    
    .footer-logo {
        justify-content: flex-start;
    }
    
    .footer-navigation .footer-links {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 20px;
    }
}












